################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Garden Helper/CopilotIndices/17.14.1204.46620
/.vs/Garden Helper/FileContentIndex/2f37ecce-46bc-4b13-ae9f-aad9a53f9e16.vsidx
/.vs/Garden Helper/FileContentIndex/88cc9211-1f6c-4826-9956-ce80faf1411e.vsidx
*.vsidx
/.vs/Garden Helper/FileContentIndex/e88622a4-e7d5-47ff-bc01-f4691744a4e3.vsidx
/.obsidian
