################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Garden Helper/CopilotIndices/17.14.1204.46620
