@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Garden Helper!</h1>
    <a asp-page="Plants/Index">Go to My Graden</a>
</div>
